
<h1 class="text-center mb-4 mt-1 fs-1 fw-bold">Conversacion detalles</h1>
<div class="d-flex justify-content-end">
    <button (click)="regresar()" class="btn btn-danger ">regresar</button>
</div>

<div class="w-100 d-flex justify-content-center mb-3 mt-3">
    <div class="card " style="width: 25rem;">
        <div class="card-body text-center">
            <h4 class="card-title">Conversacion   </h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">identificador: {{conversacion.identificador}}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">id: {{conversacion.id_conversacional}} -Sistema : {{conversacion.sistema}}</h6>
            <p class="card-text">Fecha: {{conversacion.fecha}}</p>
            <button (click)="navegar(false)" class="btn btn-primary me-1">editar</button>
            <button (click)="navegar(true)" class="btn btn-secondary me-1">Agregar Detalles</button>
            
        </div>
    </div>
    
</div>


<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">codigo</th>
          <th scope="col">rol</th>
          <th scope="col">mensaje</th>
          <th scope="col">prompts</th>
          <th scope="col">fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let conver of conversacion.detalles">
          <th scope="row">{{ conver.id_detalle }}</th>
          <td>{{ conver.codigo }}</td>
          <td>{{ conver.rol }}</td>
          <td>{{ conver.mensaje }}</td>
          <td>{{ conver.prompts }}</td>
          <td>{{ conver.fecha }}</td>
          <td>
            <button class="btn btn-secondary me-2" (click)="editarDetalle(conver.id_detalle)">
                <i class="fa-solid fa-pen fw-bold "></i>
            </button>
              <button class="btn btn-danger " (click)="borrarDetalle(conver.id_detalle)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </button>
          </td>
          
        </tr>
    </tbody>
</table>

